ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 8px;
}

.button {
  width: 100px;
  height: 30px;
  border: none;
  border-radius: 10px;
}

button:hover {
  background-color: #f436c5;
}

button:active {
  background-color: #f436c5;
}
